
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

header { 
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 0.5rem;
  background-color: #413f3f;
  box-shadow: 0 0 20px #777;
  border-radius: 0.5rem; 
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
}

h1, h2 {  
  text-align: center;  
}

h1 {
  margin: 2rem;
}

h3 {
  background-color: #413f3f;
}

main {
  margin: 1rem auto;
  max-width: 64em;
  display: block;
}


section {  
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border: 1px solid black ;
  border-radius: 5px; 
  display: grid;
}


section picture, p, span, a, h3{
  padding: 0.4rem;  
}

img {
  width: 100%; 
}


footer {
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 0.1rem;
  background-color: #413f3f;
  box-shadow: 0 0 20px #777;
  border-radius: 0.5rem;
  text-align: center;
}

footer p:first-of-type {
  color: white;  
}

footer p:last-of-type {
  color: yellow;
}
