/* 64rem is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    body,
    header,
    main,
    footer {
        max-width: 100%;
    }

    header div.button-menu-area {
        display: none;
    }

    header nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul li a:last-child {
        border: none;
        font-size: 20px;
        padding: 0.5rem 1rem;
    }

    header #primaryNav.open {
        display: flex;
    }

    /* Main: Home */

    /* chosen temple */
    main div.chosen-temple {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    main div.chosen-temple h2 {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    /* weather info */
    main .forecast div p:last-child {
        font-size: 1em;
    }


    /* Footer */
    .footer1-a iframe {
        max-width: 65em;
        max-height: 20em;
        width: 67em;
    }
}