/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 45rem) {

    body,
    header,
    main,
    footer {
        max-width: 1020px;
        margin: 0 auto;
    }
    /* banner */
    #banner {
        font-size: 1rem;
        padding: 0.4rem 1rem 0.4rem 6vw;
    }

    /* Main home */
  

    /* Hero */

    main.home-page .hero button {
        bottom: 40px;
        right: calc(50% - 6vw);
    }


    main .chosen-temple {
        display: grid;
        justify-content: space-around;
    }

    /* info weather */

    main .info-weather {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        align-items: center;
        justify-items: stretch;
        gap: 3vw;
        margin: 0 3vw;

    }

    main .info-weather .forecast {
        height: 15em;
    }

    main .forecast div p:last-child {
        font-size: 0.7em;
    }



    /* TEMPLES PAGE: */

main.temples-page {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.8em;
}

main.temples-page .temple {
    margin: 0;
}

main.temples-page .temple .closures div.dates {
display: flex;
flex-direction: row;
}
main.temples-page .temple .closures div.dates div ul {
    list-style-position: inside;
}




/* Reservations page*/

main.reservations-page form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main.reservations-page form label.sbs {
    display: block;
    padding: 0.75em 0;
    margin: 1em 0.7em;
  }

  main.reservations-page form fieldset:nth-child(2) {
    grid-row: 2;
    grid-column: 1;    
  }

  main.reservations-page form fieldset:nth-child(3) label {
    margin: 1em 0;
  }

  main.reservations-page form label.top textarea {
    height: 100%;
  }

  main.reservations-page form input.submitBtn {
    grid-column: 1 / -1;
  }



/* SERVICES PAGE */
main.services-page div picture img {
    width: 60%;
}

/* RECEPTIONS PAGE */
main.receptions-page div.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


main.receptions-page div.reception div {
    text-align: center;
 }

 main.receptions-page div.reception div ul {
     display: inline-block;
  }

  main.receptions-page div.reception div ul li {
     text-align: left;
  }

/* MISSIONARIES PAGE */
main.missionaries-page div.facilities-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


main.missionaries-page div.facilities div {
    text-align: center;
 }

 main.missionaries-page div.facilities div ul {
     display: inline-block;
  }

  main.missionaries-page div.facilities div ul li {
     text-align: left;
  }


  /* RESOURCES PAGE */
  main.resources-page {
    width: 80vw;
    margin: 1em auto;
  }


    /* FOOTER */

    .footer1-a iframe {
        max-width: 40em;
    }    
    
    .footer2 div {
        /* text-align: center; */
        display: flex;
        justify-content: center;
    }

    .footer2 div p {
        border-right: 2px solid rgba(253, 253, 253, 0.3);
        padding: 0 0.6rem;
        text-align: center;
    }

    .footer2 div p.name {
        border: none;
    }
}