:root {
    --header-background: #e9a977;
    --header-text-color: #012a36;
    --navigation-menu-background: #ffffff;
    --nav-ul-li-a-selected-color: #FFDF64;
    --nav-ul-li-a-hover-color: #ffe064d2;
    --navigation-color-text: #587D71;
    --social-image-width: 25px;

    --footer-background-color: #587D71;
    --footer-text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

body,
header,
main,
footer {
    max-width: 960px;
    /* margin: auto 1rem; */
}

/* BANNER */
#banner {
    display: none;
    margin: 0.5vh auto;
    color: #004085;
    border: 1px solid #b8daff;
    background-color: #cce5ff;
    padding: 0.4rem;
    font-size: 0.8rem;
    text-align: center;
    max-width: 750px;
}

#close {
    font-weight: bold;
    margin-left: auto;
    color: #004085;
    border: 1px solid #8fc1f7;
    border-radius: 4px;
    background-color: #acd2fc;
    padding: 0.1rem 0.4rem;
}


/* Header */
header {
    background-color: var(--header-background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
}

header #logo {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 10em;
    margin: 0 auto;
}

header .titles {
    font-family: "Roboto Slab", serif;
    grid-row: 3;
    grid-column: 1 / -1;
}

header .titles h1 {
    color: var(--header-text-color);
    font-size: 1.1em;
    text-align: center;
}

.social {
    grid-row: 1;
    grid-column: 4;
    display: flex;
    margin: 1em 1em 0 0;
    gap: 0.5em;
}

.social img {
    width: var(--social-image-width);
    margin: 0 0.1rem;
}



.button-menu-area {    
    grid-row: 4;
    grid-column: 1/-1;
    background-color: var(--navigation-menu-background);
    border-top: 1em solid var(--header-background); 
    border-right: 1em solid var(--header-background);         /* */
    border-left: 1em solid var(--header-background);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#hamburgerBtn {
    margin: 0.2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--header-text-color);
}

#hamburgerBtn span:nth-child(1) {
    display: block;
  }
  
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }



header nav {
    grid-row: 5;
    grid-column: 1 / -1;
    background-color: var(--navigation-menu-background);
    border-right: 1em solid var(--header-background);
    border-bottom: 1em solid var(--header-background);
    border-left: 1em solid var(--header-background);
}

header nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
 header nav a:hover {
    background-color: var(--nav-ul-li-a-hover-color);
    color: var(--navigation-color-text);
    font-weight: bold;
  }
  
header nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--navigation-color-text);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }

header nav ul li a:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
  
 header nav ul li.active a {
    color: var(--navigation-color-text);
    background-color: var(--nav-ul-li-a-selected-color);
  }
    
 header nav ul.open {
    display: block;
  }









/* Footer */
footer {
    display: block;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-align: center;
}

footer a:link, footer a:visited {
    color: var(--footer-text-color);
}

.footer1-a iframe {
    max-width: 20em;
    max-height: 15em;
    margin: 0.5rem 0;  
}
 .footer1-a p {
    margin-top: 0.2em;
 }


.footer1-b p {
    margin-top: 1em;
}

.footer1-b .social {
    margin: 1em auto;
    justify-content: center;
}

.footer2 div p {
    margin-bottom: 0.2em;
}

.footer2 div + p {
    padding: 1em 0;
}