/* 64rem is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem){
    
    /* de medium */
    
    button {
        display: none;
    }

    nav ul {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
   

    nav ul li a {
        padding: 0.5rem 1rem;
    }


    /* footer */

    .footer1-a {
        margin-left: 0.5rem;
    }

    .footer1-b {
        margin: 0;
        justify-self: left;
    }

    .footer1 {
        justify-items: center;
    }

    .footer1 img {
        justify-self: right;
        margin-right: 1rem;
    }

    .footer2 {
        display: flex;
        justify-content: space-between;
    }
}