/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem){


    .titles {
        margin-left: -3rem;
    }

    .titles h1 {
        font-size: 20px;
        
    }
    
    .titles h2 {
        font-size: 14px;
    }




    /* footer */

    .footer1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .footer1 img {
        margin-left: 0.7rem;
    }

    .footer1-a {
        margin-left: -7rem;
    }

    .footer1-a h3, .footer1-a p{
        text-align: left;
    }

    .footer1-b {
        margin: auto;
    }
    .footer1-b p {
        padding: 0;
    }


    .footer2 div {
        /* text-align: center; */
        display: flex;
        justify-content: center;
    }

    .footer2 div p {
        border-right: 2px solid rgba(253, 253, 253, 0.3);
        padding: 0 0.6rem;
        text-align: center;
    }
}