/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem){

    /* Header */

    .titles {
        margin-left: -3rem;
    }

    .titles h1 {
        font-size: 20px;
        
    }
    
    .titles h2 {
        font-size: 14px;
    }



    /* main */
    main p {
        margin: 0;
    }

    main p:nth-child(5) {
        display: block;
    }
    
    main {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }

    
    main p:nth-child(1) {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    main p:nth-child(4) {
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .spotlight {
        grid-row: 3;
        grid-column: 1 / -1; 
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .spotlight p {
        margin: 0.5rem;
    }

    .spotlight p:nth-child(1) {
        grid-row: 1;
        grid-column: 1 / 2;
        margin-bottom: 0.5rem;
    }
    .spotlight p:nth-child(2) {
        grid-row: 1;
        grid-column: 2 / 3;
        margin-top: 0.5rem;
    }


    main p:nth-child(5) {
        grid-row: 4;
        grid-column: 1 / -1;
    }

    main p:nth-child(2) {
        grid-row: 5;
        grid-column: 1 / 2;
    }

    main p:nth-child(3) {
        grid-row: 5;
        grid-column: 2 / -1;
    }

    /* footer */

    .footer1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .footer1 img {
        margin-left: 0.7rem;
    }

    .footer1-a {
        margin-left: -7rem;
    }

    .footer1-a h3, .footer1-a p{
        text-align: left;
    }

    .footer1-b {
        margin: auto;
    }
    .footer1-b p {
        padding: 0;
    }


    .footer2 div {
        /* text-align: center; */
        display: flex;
        justify-content: center;
    }

    .footer2 div p {
        border-right: 2px solid rgba(253, 253, 253, 0.3);
        padding: 0 0.6rem;
        text-align: center;
    }
}