* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

header,
main,
footer {
    max-width: 960px;
    margin: auto 1rem;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-gap: 0.3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #413f3f;
}


header img {
    max-width: 100px;
    margin: 0.7rem 0 0.1rem 0.7rem;
    border-radius: 5px;
}

.titles {
    font-family: 'Roboto Slab', serif;
    justify-self: start;
    color: #FFFFFF;
    text-align: left;
    margin-left: 0.2rem;
}

.titles h1 {
    font-size: 15px;
}

.titles h2 {
    font-size: 11px;
}

.social {
    display: flex;
}

.social img {
    width: 25px;
    margin: 0 0.1rem;
}

button {
    margin: 0.2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #ffffff;
}

nav {
    grid-column: 1/-1;
    margin: 15px 0;
    color: white;
    background-color: rgba(54, 69, 79, 0.2);

}

.date {
    color: #FFFFFF;
    background-color: #36454f;
    display: block;
    padding: 0.4rem;
    margin: 0 0.5rem;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: #FFFFFF;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}


nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}


#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/* MAIN */
main p{
    height: 200px;
    background-color: #bbb;
    margin: 1rem 0;
    border: 1px solid #969393;
    padding: 1rem;
}

main p:nth-child(5) {
    display: none;
}

.spotlight {
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    border: 1px solid #969393;
}

.spotlight p {
    margin: 0.5rem;
    border: 1px solid #969393;
}

.spotlight p:nth-child(1) {
    margin-bottom: 0;
}

.spotlight p:nth-child(2) {
    margin-top: 0;
}

.spotlight p:nth-child(3) {
    display: none;
}



/* FOOTER */

footer {
    display: block;
    /* margin: 1rem auto; */
    margin-top: 1rem;
    border: 1px solid #bbb;
    padding: 0.1rem;
    background-color: #413f3f;
    text-align: center;
    color: #ffffff;
}

footer img {
    max-width: 150px;
    margin: 0.5rem 0 0 0;
    border-radius: 5px;
}

.footer1-a  {
    /* margin-bottom: 1rem; */
    margin: 1rem auto 0 auto;
    padding: 1rem;
    width: 90%;
}

.footer1-b  {
    margin-bottom: 1rem;
}

.footer1-b p {
    padding: 0.4rem;
}

.name {
    font-weight: bold;
}

.footer2 {
    border-top: 1px solid #FFFFFF;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
}