@media only screen and (min-width: 45.5rem) {
    body {
        width: 70%;
    }


    header,
    nav,
    .home-main, .target-main,
    footer {
        max-width: 80%;
        margin: 0.6rem auto;
    }

    nav {
        flex-direction: row;
    }

    nav a {
        font-size: 1.1rem;
    }

    img {
        width: 300px;
        /* margin: 24pt; */
      }

    

    .colors {
        display: flex;
      
      }
      
      
      .colors p{
          flex: 1 1 100%;
          text-align: center;
      }

    .home-section picture,
    p,
    span,
    a,
    h3 {
        padding: 0.5rem;
    }
}